header {
    display: flex;
    background: firebrick;
    border-radius: 2.1rem;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 600px) {
    header {
        width: 600px;
    }
}

h1 {
    margin: 10px;
    padding: 10px;
    color: white;
    cursor: pointer;
}

form {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    font-size: 18pt;
}

select {
    margin-right: 10px;
    background: white;
    font-size: 18pt;
    border: none;
    border-radius: 0.8rem;
}

#container {
    display: flex;
    width: max-content;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    /* background: firebrick; */
}

#container div {
    width: 120px;
    height: 120px;
}

#container div:hover {
    background-color: lightpink;
    cursor: pointer;
}

.left, .right, .center {
    border: 1.5px black solid;
}

.left {
    border-left: none;
}

.right {
    border-right: none;
}

.top {
    margin-top: 10px;
}

.top div {
    border-top: none;
}

.bot {
    margin-bottom: 10px;
}

.bot div {
    border-bottom: none;
}